.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.rightMargin {
	margin:3px;
}

.greenBorder {
	border: 2px solid green;
  	background-color: rgb(128,199,178);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.middle-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.smallImage {
	max-width:30px;
  	max-height:30px;
}

.mediumImage{
  	min-width:90px;
  	min-height:90px;
	max-width:90px;
  	max-height:90px;
  	padding: 10px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
